<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>LocalLink</h1>
        </div>
        <div class="home-container">
            <a href="{{ url_for('home.home') }}" class="home-button">Home</a>
        </div>
    </header>

    <div class="login-container">
        <h2>Login</h2>
        
        <!-- Tabs for Employer and Worker -->
        <div class="tabs">
            <div id="workerTab" class="tab active" onclick="showTab('worker')">Workers</div>
            <div id="employerTab" class="tab" onclick="showTab('employer')">Employers</div>
        </div>

        <!-- employer Form -->
        <div id="employerForm" class="form-container" style="display: none;">
            <form action="{{ url_for('login.login_page') }}" method="POST">
                <label for="employerPhone">Phone Number:</label>
                <input type="tel" id="employerPhone" name="phone" class="form-input" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required placeholder="Enter phone number">
                
                <label for="employerPassword">Password:</label>
                <input type="password" id="employerPassword" name="password" class="form-input" required placeholder="Enter password">
                
                <button type="submit" class="form-button" name="submit-employer-login">Login</button>
            </form>
        </div>

        <!-- worker Form -->
        <div id="workerForm" class="form-container" style="display: block;">
            <form action="{{ url_for('login.login_page') }}" method="POST">
                <label for="workerPhone">Phone Number:</label>
                <input type="tel" id="workerPhone" name="phone" class="form-input" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required placeholder="Enter phone number">
                
                <label for="workerPassword">Password:</label>
                <input type="password" id="workerPassword" name="password" class="form-input" required placeholder="Enter password">
                
                <button type="submit" class="form-button" name="submit-worker-login">Login</button>
            </form>
        </div>

        <div class="signup-link">
            <p>Don't have an account? <a href="{{ url_for('signup.signup_page') }}">Sign up here</a></p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 LocalLink. All rights reserved.</p>
    </footer>
    <script src = "{{ url_for('static', filename='js/auth.js') }}"></script>
</body>
</html>