<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>LocalLink</h1>
        </div>
        <div class="home-container">
            <a href="{{ url_for('home.home') }}" class="home-button">Home</a>
        </div>
    </header>

    <div class="signup-container">
        <h2>Sign Up</h2>

        <!-- Tabs for employer and worker Forms -->
        <div class="tabs">
            <div id="workerTab" class="tab active" onclick="showTab('worker')">Worker</div>
            <div id="employerTab" class="tab" onclick="showTab('employer')">Employer</div>
        </div>

        <!-- employer Form -->
        <div id="employerForm" class="form-container" style="display: none;">
            <form action="{{ url_for('signup.signup_employer') }}" method="POST" onsubmit="return validateEmployerForm(event)">
                <label for="name">Employer Name:</label>
                <input type="text" id="name" name="name" class="form-input" required placeholder="Enter your employer name">

                <label for="employerPhone">Phone Number:</label>
                <input type="tel" id="employerPhone" name="phone" class="form-input" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required placeholder="Enter phone number">

                <label for="employerPassword">Password:</label>
                <input type="password" id="employerPassword" name="password" minlength="8" class="form-input" required placeholder="Create a password">
                
                <label for="employerRe-Password">Re-enter Password:</label>
                <input type="password" id="employerRe-Password" name="re-password" class="form-input" required placeholder="Re-enter password">
                
                <div id="employer-password-error" class="error-message" style="display: none;">
                    Please enter the same password.
                
                </div>
                <button type="submit" class="form-button">Sign Up</button>
            </form>
        </div>

        <!-- worker Form -->
        <div id="workerForm" class="form-container" style="display: block;">
            <form action="{{ url_for('signup.signup_worker') }}" method="POST" enctype="multipart/form-data" onsubmit="return validateWorkerForm(event)">
                <div class="profile-icon">
                    <img id="profile-pic" src="{{ url_for('static', filename='images/default-pfp.png') }}" alt="Profile Picture">
                    <input type="file" id="profile-picture" name="profile-picture" class="upload-input" accept="image/*" onchange="showImage(event)">
                </div>
                <div id="profile-error" class="error-message" style="display: none;">
                    Please select a profile picture.
                </div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-input" required placeholder="Enter your full name">
            
                <label for="workerPhone">Phone Number:</label>
                <input type="tel" id="workerPhone" name="phone" class="form-input" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required placeholder="Enter phone number">
            
                <label for="workerPassword">Password:</label>
                <input type="password" id="workerPassword" name="password" minlength="8" class="form-input" required placeholder="Create a password">
                
                <label for="workerRe-Password">Re-enter Password:</label>
                <input type="password" id="workerRe-Password" name="re-password" class="form-input" required placeholder="Re-enter password">
                
                <div id="worker-password-error" class="error-message" style="display: none;">
                    Please enter the same password.
                </div>

                <button type="submit" class="form-button">Sign Up</button>
            </form>
        </div>

        <div class="login-link">
            <p>Already have an account? <a href="{{ url_for('login.login_page') }}">Log in here</a></p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 LocalLink. All rights reserved.</p>
    </footer>
    <script src = "{{ url_for('static', filename='js/auth.js') }}"></script>
</body>
</html>